main{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
    .contenedor{
        width: 100%;
    }
    .suscTodo , .contenedorContacto{
        background-image: url(../Imgs/Logos/fondoColor.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .asides{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        .redesInicio{
            @include cajas ($violeta);
            border: 0;
            .redesImgs{
            display: flex;
            justify-content: space-evenly;
                img:hover{
                    transform: scale(1.1,1.1);
                    transition:all 400ms;
            }
            }
        }
        .edDigital , .suscInicio{
            @include cajas ($violeta);
            box-shadow: 0 4px 8px 0 #00000033;
            transition: 0.3s;
            &:hover{
                box-shadow: 0 10px 14px 0 #00000049;
            }
            a{
                transition:all 200ms;
                text-decoration: none;
                color: $violeta;
                &:hover{
                    color: $hover;
                    }
            }
        }
    }
    .ultEdicion{
        .card {
        box-shadow: 0 8px 16px 0 #00000033;
        transition: 0.3s;
        &:hover{
            box-shadow: 0 16px 24px 0 #00000049;
        }
        }
        img{
            border-radius: 5px;
        }
    }
    .edAnteriores{
        @include cajas ($blanco);
        background-color: $violeta;
    }
    .tapasAnts{
            background-image: url(../Imgs/Logos/fondoColor.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            .card {
                box-shadow: 0 4px 8px 0 #00000033;
                transition: 0.3s;
                &:hover{
                    box-shadow: 0 8px 18px 0 #00000049;
                }
            }
            img{
                border-radius: 5px;
            }
            h5{
                @include centrarflex;
            }
        }
    .QuienesSomos{
        background-color: $rosa;
        line-height: 1.6;
        text-align: center;
        h3,b{
            color: $violeta;
        }
        .quienesSomos__txt1{
            background-color: $celeste;
        }
        .quienesSomos__Tapas{
            background-color: $celeste;
        }
    }
    h1{
        color: $violeta;
    }
}